*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1800px) {
    html {
      font-size: 59.25%; } }
  @media only screen and (max-width: 1700px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 1600px) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 1500px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 1400px) {
    html {
      font-size: 47%; } }
  @media only screen and (max-width: 1300px) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 40.75%; } }
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 34.5%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 31.25%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 62.5%; } }

body {
  font-family: 'Montserrat', sans-serif; }

.sectionTop {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 8rem 20rem 0; }
  @media only screen and (max-width: 600px) {
    .sectionTop {
      flex-direction: column;
      padding: 2rem 2rem;
      align-items: space-between; } }
  .sectionTop .sectionTop__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F2F9F2;
    height: 80%;
    width: 100%; }
    @media only screen and (max-width: 600px) {
      .sectionTop .sectionTop__background {
        height: 85%; } }

.left__text-box {
  position: relative;
  margin-top: 8rem; }
  @media only screen and (max-width: 600px) {
    .left__text-box {
      margin-top: 3rem;
      padding-left: 2rem; } }
  @media only screen and (max-width: 600px) {
    .left__text-box .left__hr {
      width: 5rem;
      height: 5px;
      background-color: #429A2F;
      border-radius: 3px;
      border: none;
      margin: 1rem auto 0.5rem; } }
  @media only screen and (min-width: 601px) {
    .left__text-box .left__hr {
      display: none; } }
  .left__text-box .left__title {
    font-size: 1.7rem;
    color: #CDCDCD;
    text-transform: uppercase; }
    @media only screen and (max-width: 600px) {
      .left__text-box .left__title {
        text-align: center; } }
  .left__text-box .left__heading {
    font-size: 3.6rem;
    color: #474747;
    width: 38rem;
    margin: 2rem 0; }
    @media only screen and (max-width: 600px) {
      .left__text-box .left__heading {
        width: 100%;
        margin-top: 1rem; } }
  .left__text-box .left__text {
    font-size: 2rem;
    color: #434343B5;
    width: 59rem; }
    @media only screen and (max-width: 600px) {
      .left__text-box .left__text {
        width: 100%;
        line-height: 3.5rem; } }
  .left__text-box .left__btn {
    color: #FFFFFF;
    font-size: 2rem;
    width: 27rem;
    height: 8rem;
    border-radius: 9px;
    background-color: #429A2F;
    border: none;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .left__text-box .left__btn {
        width: 20rem;
        height: 4.5rem;
        margin-top: 4rem; } }
    .left__text-box .left__btn .left__btn--img {
      width: 2rem;
      margin-left: 1.5rem; }

.left__img-box {
  margin: 8rem 10rem 0;
  z-index: 2; }
  @media only screen and (max-width: 600px) {
    .left__img-box {
      display: none; } }

.right__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #FFFFFF;
  padding: 2rem 5rem;
  margin-bottom: 6rem;
  box-shadow: 0px 3px 76px #173E111F;
  border-radius: 6px;
  min-width: 50rem; }
  @media only screen and (max-width: 600px) {
    .right__card {
      min-width: 90%;
      margin-top: 10rem;
      flex-direction: column-reverse;
      align-items: center;
      padding: 2rem;
      box-shadow: 0px 3px 76px #173E111F; } }

@media only screen and (max-width: 600px) {
  .bruno {
    display: none; } }

.right__text-box {
  color: #434343B5; }
  .right__text-box h1 {
    font-size: 8rem;
    color: #429A2F;
    height: 5rem; }
  .right__text-box p {
    font-size: 1.7rem;
    margin: 2rem 0; }
  .right__text-box h5 {
    font-size: 2rem; }
  @media only screen and (max-width: 600px) {
    .right__text-box .righ__name--mobile {
      text-align: center; } }
  @media only screen and (min-width: 601px) {
    .right__text-box .righ__name--mobile {
      display: none; } }
  @media only screen and (max-width: 600px) {
    .right__text-box .righ__name--desktop {
      display: none; } }

.right__img-box {
  width: 10rem;
  height: 10rem;
  padding-bottom: 1rem; }
  .right__img-box .right__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%; }

.sectionBottom {
  margin: 5rem 0 25rem; }
  @media only screen and (max-width: 600px) {
    .sectionBottom {
      margin-bottom: 0; } }

.how__text-box {
  padding-left: 20rem; }
  @media only screen and (max-width: 600px) {
    .how__text-box {
      text-align: center;
      width: 75%;
      margin: auto;
      padding: 0; } }
  .how__text-box .how__hr {
    width: 5rem;
    height: 5px;
    background-color: #429A2F;
    border-radius: 3px;
    border: none; }
    @media only screen and (max-width: 600px) {
      .how__text-box .how__hr {
        margin: auto; } }
  .how__text-box .how__title {
    font-size: 1.7rem;
    color: #CDCDCD;
    margin: 1rem 0;
    text-transform: uppercase; }
  .how__text-box .how__heading {
    font-size: 3.6rem;
    color: #474747; }

.how__graph {
  position: relative; }

.how__graph--img {
  width: 75%; }
  @media only screen and (max-width: 600px) {
    .how__graph--img {
      display: none; } }

.how__graph--img--mobile {
  width: 100%;
  object-fit: cover; }
  @media only screen and (min-width: 601px) {
    .how__graph--img--mobile {
      display: none; } }

.how__info-box {
  width: 35rem;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .how__info-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 600px) {
    .how__info-box .how__info-container {
      margin: 0 1rem;
      padding-left: 1rem; } }
  .how__info-box .how__img-box {
    width: 15rem;
    height: 8rem; }
    @media only screen and (max-width: 600px) {
      .how__info-box .how__img-box {
        width: 20rem;
        height: 20rem; } }
    .how__info-box .how__img-box .how__img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .how__info-box .how__info-text {
    margin-left: 4.5rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 600px) {
      .how__info-box .how__info-text {
        margin-left: 0;
        line-height: 2.5rem; } }
  .how__info-box .how__info-heading {
    margin: 0 0 2rem 4.5rem;
    font-size: 2rem; }
    @media only screen and (max-width: 600px) {
      .how__info-box .how__info-heading {
        margin-left: 0; } }
  .how__info-box .how__number-box {
    width: 10rem;
    height: 17rem;
    position: absolute;
    top: 0;
    right: 0; }
    .how__info-box .how__number-box .how__number-img {
      width: 100%;
      height: 100%; }

.how__position--absolute {
  position: absolute; }

.tree {
  bottom: -6rem;
  left: 30rem; }
  @media only screen and (max-width: 600px) {
    .tree {
      top: 8rem;
      right: 0;
      bottom: 0;
      left: 7rem; } }
  .tree .tree__number {
    display: none; }

.follow {
  top: 15rem;
  left: 80rem; }
  @media only screen and (max-width: 600px) {
    .follow {
      top: 38rem;
      left: 0rem; } }
  @media only screen and (max-width: 600px) {
    .follow .follow__info-box {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      text-align: right; }
      .follow .follow__info-box .follow__number {
        display: none; } }

.gain {
  right: 20rem;
  top: -3rem; }
  @media only screen and (max-width: 600px) {
    .gain {
      right: 0rem;
      top: 70rem;
      left: 5rem; } }
  @media only screen and (max-width: 600px) {
    .gain .gain__number {
      display: none; } }
